body{
    width: 500px;
    margin-right:auto;
    margin-left:auto;
    background-color: rgba(127, 255, 212, 0.658);
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/u/ummmmmmmmmmm/20220327/20220327152126.jpg);
    background-size: cover;
}
button{
    padding:5px 20px;
    background-color: bisque;
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/u/ummmmmmmmmmm/20220327/20220327150956.jpg);
    background-size: cover;
}
