body{
    width: 500px;
    margin-right:auto;
    margin-left:auto;
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/u/ummmmmmmmmmm/20220327/20220327155016.png);
    background-size: cover;
}
button{
    padding:5px 20px;   
    background-image: url(https://cdn-ak.f.st-hatena.com/images/fotolife/u/ummmmmmmmmmm/20220327/20220327150956.jpg);
    background-size: cover;
}
